{% extends 'base.html.twig' %}

{% block main %}

    <div class="contact-image">
        <div class="contact-overlay">
            <div class="contact-inner">
                <div class="contact-headline">
                    <div class="contact-heading">
                        <h1>Prestations & Tarifs</h1>
                    </div>
                </div>
            </div>
        </div>
        <svg id="bandeau_contact" data-name="bandeau_contact" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1190.55 122.95">
            <path class="bandeau_contact" d="M1190.55,340.37c-39.59-5.43-387.81,138.47-743.34,0C286.71,277.86,109.68,301.88,0,320.69V423H1190.55V340.37Z" transform="translate(0 -300.01)"/>
        </svg>

    </div>

    <div class="section">
        <div class="container Quicksand_Bold">
            <h2 class="text-center" style="margin-bottom: 50px;">Liste des indications courantes</h2>
            <div class="row">
                <div class="col-md-6" style="margin-bottom: 50px !important;">
                    <div class="table-prestations-2">
                    <table class="table text-left">
                        <tbody>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Troubles digestifs
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Troubles du sommeil
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Fatigue
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Dépression
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Migraine
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Hypertension
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Hypotension
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Convalescence
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Stress
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Accompagnement à la chimiothérapie
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Soutien à la fertilité
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="col-md-6" style="margin-bottom: 50px !important;">
                    <div class="table-prestations-2">
                    <table class="table text-left">
                        <tbody>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Accompagnement à la grossesse
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Postpartum
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Troubles de la ménopause
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Douleurs
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Préparation aux examens
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Gestion des émotions
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                            Soutien lors de périodes charnières (deuil, rupture, chômage, déménagement...)
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Vertiges
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Acouphènes
                            </td>
                        </tr>
                        <tr class="">
                            <td>
                                <img src="../img/icones/check.png" class="table-check">
                                Tensions musculaires
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <p style="margin-top: -20px; margin-bottom: 30px; font-size: 18px;">Ou simplement entretenir, fortifier son énergie vitale et prendre soin de soi.</p>
            </div>
            <div class="ctn-tarif">
                <h2 class="text-center Quicksand_Bold tarif-title"><span>Tarifs</span></h2>
                <div class="d-flex justify-content-between">
                    <div><p>Shiatsu (Séance ponctuelle)</p></div>
                    <div><p>60€</p></div>
                </div>
                <div class="d-flex justify-content-between">
                    <div><p>Shiatsu régulier</p></div>
                    <div><p>55€ (la séance)</p></div>
                </div>
            </div>
            <div class="text-center">
                <a href="../contact.php" class="btn-brochure pulse-orange" style="margin-top: -10px; margin-bottom: 20px;">
                    <i class="far fa-calendar-check" aria-hidden="true"></i> Prendre rendez-vous ?
                </a>
            </div>
        </div>
    </div>


{% endblock %}