<?php
/**
 * Created by PhpStorm.
 * User: timotheecorrado
 * Date: 06/12/2017
 * Time: 16:47
 */


// the connection configuration
return [
    'db' =>
        [
            'driver'   => 'pdo_mysql',
            'user'     => 'root',
            'password' => 'root',
            'dbname'   => '',
        ]
];


